{% extends 'base.html.twig' %}

{% block body%}
<section class="row">
    <div class="col">
        <p class="alert alert-info">
            Oooops, nous avons rencontré une erreur inconnue.
        </p>
    </div>
</section>
{% endblock %}